:root{
    --branding-color: black;
    --heading-font-family: "Lato",
        sans-serif;
    --paragraph-font-color: #555;
    --background-text: #F7F6F7;
}
h1, h2, h3, h4,p,a{
    font-family: var(--heading-font-family);
}
.hero h1 {
    
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -3px;
}
.hero h2{
    
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}
h3{
    
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero, .aboutMeHero{
    margin-top: 140px;
    background-color: white;
}
.hero .p1{
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    max-width: 740px;
    margin-top: 40px;
        

}
.hero .p2{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    max-width: 740px;
    margin-top: 60px;
    margin-bottom: 20px;
}
strong{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.hero img{
   
    max-width: 670px;
    margin-left: 90px;
    margin-top: 60px;
}
.black-rectangle{
    background-color: var(--branding-color);
    height: 110px;
    text-align: center;
    color: white;
}


.primary-button{
    background-color: var(--branding-color);
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-family: var(--heading-font-family);
    margin-bottom: 50px;
    border-top: 2px solid #424141;
    
    border-right: 2px solid #424141;
    border-left: 2px solid #424141;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.primary-button:hover{
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 1) 0%, rgba(73, 72, 72, 1) 100%);
}
.horizontal-line {
    border: none;
    border-top: 2.5px solid black;
    margin: 0px 50px 0px 50px;
    
}


.projects h2{

    margin-top: 140px;
    margin-bottom: 80px;
    font-size: 70px;
    font-weight: 700;
}
.projects h4{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-top: 43px;
}
.projects p{
    color: var(--paragraph-font-color);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-top: 34px;
    margin-bottom: 34px;
}
.projects a{
 margin-bottom: 33px;
}
.project col{
    padding: 30px;
}

.heroImage{
    width: 636px;
    height: 360px;
}

.aboutMeHero h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 6.4px;
}
.aboutMeHero h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 120px;
}
.bullets{
    font-size: 38px;
    font-weight: 400;
}
.aboutMePhoto{
    width: 350px;
    height: 370px;
    text-align: right; 
}
.icons{
    font-size: 50px;
    padding: 10px 10px 0px 0px;
}
.contactMe h1{
    margin-top: 200px;
    text-align: center;

}
.contactInfo{
    text-align: center;
}
.contactMe h2{
    margin-top: 90px;
    margin-bottom: 50px;
}
.aboutMeSkills{
    margin-top: 150px;
}
.aboutMeSkills h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 70px;
    color: #555;

}
.aboutMeSkills h3{
    font-size: 25px;
}
.Secondary-button{
    border-radius: 50px;
    background: #053154;
    color: #fff;
    padding: 10px 30px;
    font-size: 25px;
    margin:  0 10px 10px 0;
    cursor: default;
    border: none;
}
.Secondary-button:hover{
    border-radius: 50px;
    background: #053154;
    color: #fff;
    padding: 10px 30px;
    font-size: 25px;
    margin: 0 10px 10px 0;

}
.logo{
    max-width: 45px;
    max-height: 120px;
}
nav .primary-button{
    margin-top: 30px;
}
nav ul{
    padding: 0;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 10px;

}
.navMenu{
    font-size: 18px;
    color: #555;
    text-decoration: none;
    transition: all 150s ease-in-out;

}
.navMenu:hover{
    color: var(--branding-color);
    text-decoration: underline;
    
}
.navMenu.active {
    color: var(--branding-color);
    text-decoration: underline;;
}
.hamburger{
    display: none;
}
footer{
    margin-top: 90px;
    text-align: center;
    background-color: var(--background-text);
}
footer h2{
    font-size: 60px;
    font-weight: 700;
}
.giveMeACall p {
    font-size: 25px;
    font-weight: 400;
    margin: 40px 0;
}
.copyRight p{
    background-color: var(--branding-color);
    color: white;
    text-align: left;
    padding: 40px 80px ;
    margin-bottom: 0; 

}


@media (max-width: 1200px){
    .hero, .aboutMeHero{
        text-align: center;
    }
    .bullets{
        list-style: none;
        font-size: 20px;
    }
    .icons{
        display: block;
        font-size: 32px;
    }
    .hero .p1, .hero .p2{
        max-width: 900px;
    }
    .Secondary-button {
            border-radius: 50px;
            background: #053154;
            color: #fff;
            padding: 5px 15px;
            font-size: 15px;
            margin: 0 10px 10px 0;
            cursor: default;
            border: none;
    }
    .aboutMeSkills h3 {
            font-size: 18px;
    }
    .logo{
        max-width: 30px;
        max-height: 90px;
    }
    .navMenu {
         font-size: 15px;
    }
    .primary-button{
        padding: 10px 18px;
        font-size: 15px;
    }
    nav .primary-button {
        margin-top: 30px;
    }
    footer h2 {
            font-size: 40px;
            
        }
    
        .giveMeACall p {
            font-size: 18px;
            
            
        }
    
    

}